name: Go

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.25.1
      - name: "Check format"
        run: "test -z $(gofmt -l .)"

      - name: Test
        run: go test ./...
      - name: Build
        run: make build
      - uses: actions/upload-artifact@v4
        with:
          name: vault-plugin-secrets-keycloak
          path: vault/plugins/vault-plugin-secrets-keycloak
